// font color
$lightGray: #8d91c2;
$dodgerBlue: #5ad9b9;
$darkBlue: #111a53;
$blue: #4354d0;
$shadow: #f8faff;

// font family
$pop: "Poppins", sans-serif;
$yes: "Yeseva One", cursive;
// padding left & right
$pa: 193px;
// mixin
@mixin par($f, $s, $w, $c) {
    font-family: $f;
    font-size: $s;
    font-weight: $w;
    color: $c;
}
// light : 300 , regular : 400 , medium : 500 , semi-bold : 600 , bold : 700
